 @import "tailwindcss";

 .text-outline {
     -webkit-text-stroke: 1px #e7b4f3;
     color: #66356E;
 }

 .text-sub-outline-dark {
     -webkit-text-stroke: 1px white;
     color: #222;
 }

 .text-sub-outline-light {
     -webkit-text-stroke: 1px #222;
     color: #f2faff;
 }

 @keyframes float {
     0% {
         transform: translateY(0px) rotate(0deg);
     }
     50% {
         transform: translateY(-20px) rotate(5deg);
     }
     100% {
         transform: translateY(0px) rotate(0deg);
     }
 }

 .animate-float {
     animation: float 4s ease-in-out infinite;
 }